<div class='container'>
    {% autoescape off %}
    {{ sunburst_count_taxnomy_plt_div }}
    {% endautoescape %}

    {% autoescape off %}
    {{ phylum_bar_plt_div }}
    {% endautoescape %}

    {% autoescape off %}
    {{ class_bar_plt_div }}
    {% endautoescape %}

    {% autoescape off %}
    {{ order_bar_plt_div }}
    {% endautoescape %}

    {% autoescape off %}
    {{ family_bar_plt_div }}
    {% endautoescape %}

    {% autoescape off %}
    {{ genus_bar_plt_div }}
    {% endautoescape %}

    {% autoescape off %}
    {{ species_bar_plt_div }}
    {% endautoescape %}

    {% autoescape off %}
    {{ subspecies_bar_plt_div }}
    {% endautoescape %}

</div>